.addTask {
    margin: 0 5%;
    border-radius: 10px;
    form {
        label {
            display: block;
            margin-top: 10px;

            button {
                width: 100%;
            }
            span {
                margin-right: 5px;
            }
        }
    }
}

.input-group-text {
    width: 20%;
    justify-content: center;
    background-color: #ccdbfd !important;
}

.alert {
    border-radius: 10px !important;
}