.card {
    margin-left: 5%;
    margin-bottom: 10px;
    margin-right: 5%;
    background-color: #e2eafc !important;
    h3 {
        font-weight: 350;
    }
}

h2 {
    margin-left: 5%;
    font-weight: 400 !important;
}